.board {
    display: grid;
    gap: 1px;
    min-height: 300px;
    min-width: 300px;
    grid-template-columns: repeat(3, 100px);
    place-items: center;
}

.status {
    font-size: 2em;
    font-weight: 400;
    font-variant:small-caps;
}