.square {
    min-height: 100px;
    min-width: 100px;
    font-size: 2rem;
    padding: 0px;
    margin: 0px;
    transition-duration: 500ms;
    transition-delay: 0ms;
    transition-property: background;
    border-color: white;
    border-style: solid;
    display: inline-block;
}

.square:hover {
    border-color: red;
}
